
<style>
  .search-btn {
    background-color: #f2434d;
    color:#fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #f2434d;
    color:#fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  @media (max-width: 575.98px) {
    .navbar .navbar-toggler {
      margin-left: auto;
    }

    .navbar .navbar-collapse {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      border-top: 1px solid #ececec;
      background-color: #fff;
    }

    .navbar .navbar-nav,
    .navbar .navbar-nav.ms-auto {
      width: 100%;
      margin-left: 0 !important;
      align-items: flex-start;
      gap: 0.2rem;
    }

    .navbar .nav-link {
      width: 100%;
      display: block;
      padding: 0.45rem 0.2rem;
    }

    .navbar form.d-flex {
      width: 100%;
      margin: 0.35rem 0;
      gap: 0.5rem;
    }

    .navbar .search-input {
      flex: 1 1 auto;
      min-width: 0;
      padding: 0.5rem 0.9rem;
    }

    .navbar .search-btn {
      flex: 0 0 auto;
      white-space: nowrap;
      padding: 0.5rem 0.9rem;
    }
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search">
      <input class="form-control me-2 search-input" type="search" placeholder="Search Destinations" />
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add your home</a> 

        <% if(!currUser) { %>
        <a class="nav-link "  href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a> 
        <% } %>
      </div>
    </div>
  </div>
</nav>
